## Carga incremental tabla precios

In [75]:
#cargamos las librerias necesarias
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [76]:
#nos comunicamos con la base de datos
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="admin",
                               db="pi_eng"))

In [77]:
#importamos tablas precios_semana
df_413=pd.read_csv("precios_semana_20200413.csv",usecols=['sucursal_id', 'producto_id',"precio"], low_memory=False)
df_426=pd.read_csv("precios_semana_20200426.csv",usecols=['sucursal_id', 'producto_id',"precio"], low_memory=False)
df_503=pd.read_csv("precios_semana_20200503.csv",usecols=['sucursal_id', 'producto_id',"precio"], low_memory=False)
df_518=pd.read_csv("precios_semana_20200518.csv",usecols=['sucursal_id', 'producto_id',"precio"], low_memory=False)
df_419=pd.read_csv("precios_semanas_20200419.csv",usecols=['sucursal_id', 'producto_id',"precio"], low_memory=False)

In [78]:
#importamos tabla producto 
df_producto=pd.read_csv("producto.csv",usecols=["producto_id","marca","nombre","presentacion"], low_memory=False)

In [79]:
#importamos la tabla sucursal
df_sucursal=pd.read_csv("sucursal.csv", low_memory=False)

In [80]:
#creamos la tabla producto y sucursal en mysql
df_producto.to_sql('producto', engine, index=False)
df_sucursal.to_sql('sucursal', engine, index=False)

2333

#  Carga incremental de registros a mysql -ingesta

In [81]:
#creamos la tabla precios en mysql y hacemos la primera ingesta de registros
df_413.to_sql('precios', engine, index=False)

472166

In [82]:
#intentamos ingestar a la DB. df_426 y df_419. Falta de criterios de normalizacion
df_419.to_sql('precios', engine, index=False, if_exists='append')

DataError: (pymysql.err.DataError) (1265, "Data truncated for column 'precio' at row 21651")
[SQL: INSERT INTO precios (sucursal_id, producto_id, precio) VALUES (%(sucursal_id)s, %(producto_id)s, %(precio)s)]
[parameters: ({'sucursal_id': '2-1-184', 'producto_id': '0000000002288', 'precio': '29.9'}, {'sucursal_id': '2-1-206', 'producto_id': '0000000002288', 'precio': '39.9'}, {'sucursal_id': '9-1-430', 'producto_id': '0000000205870', 'precio': '499.99'}, {'sucursal_id': '9-2-107', 'producto_id': '0000000205870', 'precio': '539.99'}, {'sucursal_id': '9/3/5218', 'producto_id': '0000000205870', 'precio': '539.99'}, {'sucursal_id': '9-1-430', 'producto_id': '0000000205894', 'precio': '589.99'}, {'sucursal_id': '9-1-430', 'producto_id': '0000000205955', 'precio': '189.99'}, {'sucursal_id': '9-1-430', 'producto_id': '0000000205979', 'precio': '104.99'}  ... displaying 10 of 458543 total bound parameter sets ...  {'sucursal_id': '5/1/2003', 'producto_id': '009,99039E+12', 'precio': '312.5'}, {'sucursal_id': '5/1/2003', 'producto_id': '009,99039E+12', 'precio': '198.9'})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

In [83]:
#primera carga incremental
df_503.to_sql('precios', engine, index=False, if_exists='append')

397734

In [84]:
#segunda carga incremental
df_518.to_sql('precios', engine, index=False, if_exists='append')

415293

## Genial!!